.App {
  font-family: sans-serif;
  text-align: center;
}

.product-img {
  width: 200px;
  height: 200px;
}

.product-card {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-cumber {
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
}

.pagination-container {
  padding: 20px;
}