.App {
  font-family: sans-serif;
  text-align: center;
}

.product-img {
  width: 200px;
  height: 200px;
}

.product-card {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-number,
.page-arrow {
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid black;
  user-select: none;
}

.page-number.active {
  background-color: black;
  color: white;
  font-weight: bold;
}

.page-arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}